:root {
    --color1: #3A31D8;
    --color2: #165650;
  }
  
  /* body {
    background-color: black;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
  } */
  
  .blob-background{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;

  }

  svg {
    filter: blur(100px);
  }
  body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /* background-color:#000000; */
    /* background-image: url("hex5302537.png"); */
}

.form-box {
    width: 380px;
    height: 480px;
    border-radius: 10px;
    position: relative;
    margin: 6% auto;
    background:rgba(255, 255, 255, 0.6);
    padding: 5px;
}

.form-value {
    width: 100%;
    overflow: hidden;
}

.form-value form {
    width: 100%;
    height: auto;
    padding: 80px 40px;
    box-sizing: border-box;
}

h2 {
    margin: 0 0 50px;
    padding: 0;
    color: #000000;
    text-align: center;
}

.inputbox {
    position: relative;
}


.inputbox input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #000;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #292828;
    background-color: transparent;
}

.inputbox label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 16px;
    color:#000 ;
    pointer-events:none ;
    transition: .5s;
}

.inputbox input:focus ~ label,
.inputbox input:valid ~ label{
    top: -12px;
}

.forget{
display:flex ;
justify-content :space-between ;
margin-bottom :20px ;
}

button{
background:#23a3ff ;
color:#fff ;
border:none ;
outline:none ;
cursor:pointer ;
padding :10px ;
border-radius :25px ;
width :100% ;
font-size :18px ;
margin-bottom :20px ;

}
button:hover{
background:#03a9f4 ; 
/* linear-gradient: (to right, rgb(255, 0, 55) , rgb(23, 20, 233)) */

}
.register p{
text-align:center ;

}

input:focus {
    outline: none;
}